<h1 class="title" id="page-title">
          Welcome to IS-ENES Climate4Impact        </h1>
                          
<div class="textstandardleft">
<p>The aim of Climate4impact is to enhance the use of climate research data. It has been developed within the European projects IS-ENES, IS-ENES2 and CLIPC. Climate4impact is connected to the <a href="http://esgf.llnl.gov/mission.html" target="_new"> Earth System Grid Federation (ESGF) infrastructure</a>, using certificate based authentication, ESGF search, openid, opendap and thredds catalogs. The portal aims to support climate change impact modellers, impact and adaptation consultants, as well anyone else wanting to use climate change data. The portal offers web interfaces for searching, visualizing, analyzing, processing and downloading datasets.</p>

<p class="rteindent1">--&gt; Visualize and download data from global climate models (GCM), regional climate models (RCM) and downscaled high resolution climate data using <a href="/impactportal/data/esgfsearch.jsp">Data discovery</a>. Need some <a href="https://climate4impact.eu/impactportal/help/howto.jsp?q=uc-data-discovery-and-download">help with this tool?</a></p>

<p class="rteindent1">--&gt; Tools like indices calculations, downscaling, subsetting and regridding are available for tailoring data to your needs: goto <a href="/impactportal/account/processing.jsp"> Process data</a>.</p>

<p class="rteindent1">--&gt;Want to know more on how to use climate scenarios, how the climate models model the complex climate system, and see example use cases in several impact and adaptation themes? Go to <a href="http://climate4impact.eu/impactportal/documentation/guidanceandusecases.jsp">guidance on using climate data</a>.</p>

<p class="rteindent1">--&gt;New here? <a href=" https://climate4impact.eu/impactportal//account/login.jsp">Create an account and sign in</a>.</p>
</div>

<table class="drupal" style="width: 800px; margin-right: auto; margin-left: auto;"><tbody><tr>
<td><a href="/impactportal/documentation/guidanceandusecases.jsp?q=agriculture_forestry"><div class="tnimage" style="background-image: url(&quot;https://climate4impact.eu/files/agriculture_land_200.jpg&quot;);"><div class="tnimagetext"><p>Agriculture/Forestry</p></div></div></a></td>
<td><a href="/impactportal/documentation/guidanceandusecases.jsp?q=energy"><div class="tnimage" style="background-image: url(&quot;https://climate4impact.eu/files/energy_200.jpg&quot;);"><div class="tnimagetext"><p>Energy</p></div></div></a></td>
<td><a href="/impactportal/documentation/guidanceandusecases.jsp?q=health"><div class="tnimage" style="background-image: url(&quot;https://climate4impact.eu/files/health_200.jpg&quot;);"><div class="tnimagetext"><p>Health</p></div></div></a></td>
<td><a href="/impactportal/documentation/guidanceandusecases.jsp?q=infrastructure_urban"><div class="tnimage" style="background-image: url(&quot;https://climate4impact.eu/files/infrastructure_200.jpg&quot;);"><div class="tnimagetext"><p>Infrastructure/Urban</p></div></div></a></td></tr><tr>
<td><a href="/impactportal/documentation/guidanceandusecases.jsp?q=marine_coastal"><div class="tnimage" style="background-image: url(&quot;https://climate4impact.eu/files/coastal_200.jpg&quot;);"><div class="tnimagetext"><p>Marine/Coastal</p></div></div></a></td>
<td><a href="/impactportal/documentation/guidanceandusecases.jsp?q=nature_biodiversity"><div class="tnimage" style="background-image: url(&quot;https://climate4impact.eu/files/biodiversity_200.jpg&quot;);"><div class="tnimagetext"><p>Nature/Biodiversity</p></div></div></a></td>
<td><a href="/impactportal/documentation/guidanceandusecases.jsp?q=tourism"><div class="tnimage" style="background-image: url(&quot;https://climate4impact.eu/files/tourism_200.jpg&quot;);"><div class="tnimagetext"><p>Tourism</p></div></div></a></td>
<td><a href="/impactportal/documentation/guidanceandusecases.jsp?q=water_management"><div class="tnimage" style="background-image: url(&quot;https://climate4impact.eu/files/water_management_200.jpg&quot;);"><div class="tnimagetext"><p>Water Management</p></div></div></a></td></tr>
</tbody></table>

<div class="textstandardleft"><em>Click on one of these images to go to a specific climate change impact and adaptation theme.</em></div>